---
http_interactions:
- request:
    method: get
    uri: https://api.currencyapi.com/v3/latest?base_currency=USD&currencies=BRL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<CURRENCY_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Execution-Time:
      - '14.87'
      X-Cost:
      - '1'
      X-Ratelimit-Limit-Quota-Month:
      - '300'
      X-Ratelimit-Remaining-Quota-Month:
      - '282'
      X-Ratelimit-Limit-Quota-Minute:
      - '10'
      X-Ratelimit-Remaining-Quota-Minute:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"last_updated_at":"2025-05-27T23:59:59Z"},"data":{"BRL":{"code":"BRL","value":5.6374209019}}}'
  recorded_at: Wed, 28 May 2025 22:04:21 GMT
recorded_with: VCR 6.3.1
