<h1 class="text-center">Currency Converter</h1>

<% if current_user %>
  <div class="d-grid gap-3">
    <p class="text-center">What do you want to do now?</p>

    <%= link_to "New Conversion", new_transaction_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "See My Transactions", transactions_path, class: "btn btn-secondary btn-lg" %>
  </div>
<% end %>
