---
http_interactions:
- request:
    method: get
    uri: https://api.currencyapi.com/v3/latest?base_currency=USD&currencies=NONEXISTENT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<CURRENCY_API_KEY>"
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit-Quota-Minute:
      - '10'
      X-Ratelimit-Remaining-Quota-Minute:
      - '9'
    body:
      encoding: UTF-8
      string: '{"message":"Validation error","errors":{"currencies":["The selected
        currencies is invalid."]},"info":"For more information, see documentation:
        https:\/\/currencyapi.com\/docs\/status-codes#_422"}'
  recorded_at: Wed, 28 May 2025 22:04:23 GMT
recorded_with: VCR 6.3.1
