---
http_interactions:
- request:
    method: get
    uri: https://api.currencyapi.com/v3/latest?base_currency=USD&currencies=EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Apikey:
      - "<CURRENCY_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Charset:
      - utf-8
      X-Execution-Time:
      - '30.44'
      X-Cost:
      - '1'
      X-Ratelimit-Limit-Quota-Month:
      - '300'
      X-Ratelimit-Remaining-Quota-Month:
      - '281'
      X-Ratelimit-Limit-Quota-Minute:
      - '10'
      X-Ratelimit-Remaining-Quota-Minute:
      - '8'
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"last_updated_at":"2025-05-27T23:59:59Z"},"data":{"EUR":{"code":"EUR","value":0.8819601599}}}'
  recorded_at: Wed, 28 May 2025 22:04:22 GMT
recorded_with: VCR 6.3.1
